---
layout: default
logo: '/images/Logo.png'
title: Antareep Singha
tagline: Antareep's World
author:
    name: Antareep Singha
carousels:
  - images: 
    - image: ../images/temp.JPG
      desc: Convocation | Receiving medals from Dr. Krishnaswamy VijayRaghavan
    - image: ../images/temp.jpg
      desc: Receiving Dean's List from Prof Atul
    - image: ../images/temp.jpg
      desc: With "Moon man" Dr J.N. Goswami @ Amalthea '18
    - image: ../images/temp.jpg
      desc: Inter IIT Bhubaneswar vs IIT Roorkee team
    - image: ../images/temp.jpg
      desc: Invent@IITGN 2019
    - image: ../images/temp.jpg
      desc: Team LaTeX 2018
---

{% include section-hero.html %}

{% include section-about.html %}

{% include section-projects.html %}

<!-- {% include section-blog.html %} -->