---
layout: default
logo: 'logo.png'
title: Antareep Singha
tagline: Antareep's World
author:
    name: Antareep Singha
carousels:
  - images: 
    - image: ../images/IIITH_RnD_1.jpeg
      desc: Presenting our Research (VLMaps) at IIITH RnD Showcase
    - image: ../images/IIITH_RnD_2.jpeg
      desc: IIITH RnD Showcase during presentation
    - image: ../images/IITM.jpeg
      desc: SFP 2023 at IIT Madras
    - image: ../images/Spogomi.jpeg
      desc: Volunteered as judge for Spogomi World Cup 2023
    <!-- - image: ../images/temp.jpeg
      desc: Invent@IITGN 2019
    - image: ../images/temp.jpeg
      desc: Team LaTeX 2018 -->
---

{% include section-hero.html %}

{% include section-about.html %}

{% include section-projects.html %}

<!-- {% include section-blog.html %} -->